.error {
  color: black;
  text-align: center;
  position: absolute;
  top: 30%;
  margin-top: -50px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
.error :global .anticon {
  font-size: 48px;
  margin-bottom: 16px;
}
.error h1 {
  font-family: cursive;
}
