// This document is about ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// The corresponding variable value coverage
// Note: just write the variables to be overwritten
// http://www.iconfont.cn/collections/detail?cid=790
@import "../../node_modules/antd/lib/style/themes/default.less";
@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0,0,0,0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@menu-dark-bg: #3e3e3e;
@text-color: #666;
@font-family: "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFangHK-Light", "STHeiti", "Heiti SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", SimHei, "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";
@icon-url: "/antd/iconfont";
