/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable declaration-bang-space-before */
/* stylelint-disable declaration-bang-space-before */
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body {
  height: 100%;
  overflow-y: hidden;
  background-color: #f8f8f8;
}
::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
:global .ant-breadcrumb > span:last-child {
  color: #999;
  font-weight: normal;
}
:global .ant-breadcrumb-link .anticon + span {
  margin-left: 4px;
}
:global .ant-table .ant-table-thead > tr > th {
  text-align: center;
}
:global .ant-table .ant-table-tbody > tr > td {
  text-align: center;
}
:global .ant-table.ant-table-small .ant-table-thead > tr > th {
  background: #f7f7f7;
}
:global .ant-table.ant-table-small .ant-table-body > table {
  padding: 0;
}
:global .ant-table-pagination {
  float: none!important;
  display: table;
  margin: 16px auto !important;
}
:global .ant-popover-inner {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
:global .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
:global .vertical-center-modal .ant-modal {
  top: 0;
}
:global .vertical-center-modal .ant-modal .ant-modal-body {
  max-height: 80vh;
  overflow-y: auto;
}
:global .ant-form-item-control {
  vertical-align: middle;
}
:global .ant-modal-mask {
  background-color: rgba(55, 55, 55, 0.2);
}
:global .ant-modal-content {
  box-shadow: none;
}
:global .ant-card:hover {
  overflow: auto;
}
:global .ant-pagination-item {
  margin-bottom: 8px;
}
:global .ant-select-dropdown-menu-item {
  padding: 12px 16px !important;
}
:global .margin-right {
  margin-right: 16px;
}
:global a:focus {
  text-decoration: none;
}
@media (min-width: 1600px) {
  :global .ant-col-xl-48 {
    width: 20%;
  }
  :global .ant-col-xl-96 {
    width: 40%;
  }
}
@media (max-width: 767px) {
  :global .ant-card .ant-card-head {
    padding: 0 12px;
  }
  :global .ant-card .ant-card-body {
    padding: 12px;
  }
}
