/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable declaration-bang-space-before */
/* stylelint-disable declaration-bang-space-before */
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
:global #nprogress {
  pointer-events: none;
}
:global #nprogress .bar {
  background: #108ee9;
  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
}
:global #nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #108ee9, 0 0 5px #108ee9;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}
:global #nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
:global #nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #108ee9;
  border-left-color: #108ee9;
  border-radius: 50%;
}
:global #nprogress .spinner-icon :local {
  animation: nprogress-spinner 400ms linear infinite;
}
:global .nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
:global .nprogress-custom-parent #nprogress .bar,
:global .nprogress-custom-parent #nprogress .spinner {
  position: absolute;
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error {
  color: black;
  text-align: center;
  position: absolute;
  top: 30%;
  margin-top: -50px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
.error :global .anticon {
  font-size: 48px;
  margin-bottom: 16px;
}
.error h1 {
  font-family: cursive;
}
