.filterItem {
  display: flex;
  justify-content: space-between;
}
.filterItem .labelWrap {
  width: 70px;
  line-height: 28px;
  margin-right: 0;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
}
.filterItem .item {
  flex: 1;
}
