.form {
  margin: 20vh auto;
  width: 320px;
  padding: 20px 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.form button {
  width: 100%;
}
.form .loginLink {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}
.form p {
  color: #cccccc;
  text-align: center;
  margin-top: 16px;
}
.form p span:first-child {
  margin-right: 16px;
}
.logo {
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-bottom: 24px;
}
.logo img {
  width: 40px;
  margin-right: 8px;
}
.logo span {
  vertical-align: text-bottom;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
}
.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}
.confirmationIcon {
  color: #52c41a;
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;
}
.confirmationText {
  text-align: center;
  font-size: 14px;
}
