.form {
  margin: 20vh auto;
  width: 320px;
  padding: 20px 36px;
  box-shadow: 0 0 40px rgba(0,0,0,.1);

  button {
    width: 100%;
  }

  .loginLink {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }

  p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;

    span {
      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

.logo {
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-bottom: 24px;

  img {
    width: 40px;
    margin-right: 8px;
  }

  span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
  }
}

.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}

.confirmationIcon {
  color: #52c41a;
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;
}

.confirmationText {
  text-align: center;
  font-size: 14px;
}
