/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable declaration-bang-space-before */
/* stylelint-disable declaration-bang-space-before */
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.numberCard {
  padding: 32px;
  margin-bottom: 24px;
  cursor: pointer;
}
.numberCard .iconWarp {
  font-size: 54px;
  float: left;
}
.numberCard .content {
  width: 100%;
  padding-left: 78px;
}
.numberCard .content .title {
  line-height: 16px;
  font-size: 16px;
  margin-bottom: 8px;
  height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.numberCard .content .number {
  line-height: 32px;
  font-size: 24px;
  height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
