.table td.avatar img {
  border-radius: 50%;
}
.table :global .ant-table-tbody > tr > td,
.table :global .ant-table-thead > tr > th {
  height: 42px;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(1),
.table.motion :global .ant-table-thead > tr > th:nth-child(1) {
  width: 5%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(2),
.table.motion :global .ant-table-thead > tr > th:nth-child(2) {
  width: 6%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(3),
.table.motion :global .ant-table-thead > tr > th:nth-child(3) {
  width: 8%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(4),
.table.motion :global .ant-table-thead > tr > th:nth-child(4) {
  width: 8%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(5),
.table.motion :global .ant-table-thead > tr > th:nth-child(5) {
  width: 6%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(6),
.table.motion :global .ant-table-thead > tr > th:nth-child(6) {
  width: 6%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(7),
.table.motion :global .ant-table-thead > tr > th:nth-child(7) {
  width: 8%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(8),
.table.motion :global .ant-table-thead > tr > th:nth-child(8) {
  width: 15%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(9),
.table.motion :global .ant-table-thead > tr > th:nth-child(9) {
  width: 17%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(10),
.table.motion :global .ant-table-thead > tr > th:nth-child(10) {
  width: 13%;
}
.table.motion :global .ant-table-tbody > tr > td:nth-child(11),
.table.motion :global .ant-table-thead > tr > th:nth-child(11) {
  width: 8%;
}
.table.motion :global .ant-table-thead > tr {
  transition: none;
  display: block;
}
.table.motion :global .ant-table-thead > tr > th {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.table.motion :global .ant-table-tbody > tr {
  transition: none;
  display: block;
  border-bottom: 1px solid #f5f5f5;
}
.table.motion :global .ant-table-tbody > tr > td {
  border-bottom: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.table.motion :global .ant-table-tbody > tr.ant-table-expanded-row-level-1 > td {
  height: auto;
}
